.card{
    margin-top: 15px;
    background-color: rgb(234, 234, 234);
    padding: 30px;
    margin-right: 40px;
    border-radius: 10px;
    height: 200px;
    width: auto;
    display:block;
    text-align: end;
    }

.imgCarro{
    border-radius: 10px;
    display: flex;
    justify-content:left;
    width: 250px;
    height: 200px;
    margin-right: 15px;
}

.ano{
    position:relative;
    text-align: right;
    bottom:95px;
    margin-top: 5px;
    padding: 5px;
    font-weight:550;
    font-size: 15px;
}

.montadora{
    position:relative;
    text-align: left;
    left: 250px;
    bottom:130px;
    margin-top: 5px;
    padding: 5px;
    font-weight:550px;
    font-size: 15px;
}

.valor{
    position: relative;
    bottom: 240px;
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
}

.nomeCarro{   
    position:relative;
    left: 250px;
    bottom:200px;
    text-align: left;
    margin-top: 5px;
    padding: 5px;
    font-weight:550;
    font-size: 25px;
}
